<!-- Avertissemnt -->
<div *ngIf="!showContexteScenario && !this.isScenarioStarted">
  <h4>AVERTISSEMENT</h4>
  L'article 323-1 du code pénal sanctionne «le fait d'accéder ou de se maintenir frauduleusement, dans tout ou partie
  d'un système de traitement automatisé». La peine encourue est 2 ans d'emprisonnement et 30000€ d'amende. Celle-ci
  peut être portée à 3 ans d'emprisonnement et 45000€ d'amende lorsqu'il en résulte «soit la suppression, soit la
  modifications de données contenues dans le système, soit un altération du fonctionnement de ce système».
  Le hacker encourt également, au titre des peines complémentaires, la confiscation du matériel informatique qui a
  servi ou était destiné à commettre l'infraction.<br/>
  Il convient de préciser que le hacker engage sa responsabilité pénale mais également sa responsabilité civile. Il
  devra ainsi verser des dommages-intérêts à la victime pour l'indemniser.

  <div class="center">
    <button (click)="suivant()">J'ai compris</button>
  </div>
</div>

<!-- Contexte du scénario -->
<div *ngIf="this.showContexteScenario && !this.isScenarioStarted">
  <h4>Contexte du scénario</h4>
  {{this.currentScenario.contexte}}
  <div class="center">
    <button (click)="startScenario()">Commencer</button>
  </div>
</div>

<!-- Scénario -->
<div *ngIf="this.isScenarioStarted">
  <div class="colonne">
    <h4>{{this.currentTexte.titre}}</h4>
  </div>

  <!-- Bouton pour afficher les indices -->
  <div *ngIf="!this.showListeIndices" class="colonne indices" (click)="showIndices()">Voir les informations recueillies</div>
  <div *ngIf="this.showListeIndices" class="colonne indices" (click)="closeIndices()">Masquer les informations recueillies</div>

  <!-- Affichage des indices -->
  <div *ngIf="this.showListeIndices" class="indices-container">
    <div class="scrollable-content" (click)="this.showListeIndices = !this.showListeIndices" #scrollable>
      <span class="bouton-close" (click)="closeIndices()">Ⓧ</span>
      <div *ngFor="let indice of this.listeCurrentIndices">
        {{indice}}<br/>
      </div>
    </div>
  </div>

  <!-- Cas particulier : lancement du brute force -->
  <div *ngIf="!this.startBruteForce">
    {{this.currentTexte.texte}}
  </div>

  <!-- Affichage du scénario -->
  <div *ngFor="let action of this.listeActionsCurrentTexte" class="center">
    <div class="action" *ngIf="!action.estUtilisee" (click)="goToNextTexte(action)">
      <br/>
      <span class="puce">►</span> {{action.texte}} <span class="puce">◄</span>
    </div>
    <div class="action-disabled" *ngIf="action.estUtilisee">
      <br/>
      <span class="puce-disabled">►</span> {{action.texte}} <span class="puce-disabled">◄</span>
    </div>
  </div>

  <!-- Fin du scénario -->
  <div *ngIf="this.isScenarioFinished" class="center">
    <button (click)="finishScenario()">Terminer</button>
  </div>
</div>

<!-- Pop-up de prévention -->
<div *ngIf="this.showPrevention" class="shadowing">
  <div class="bubble">
    {{this.currentPrevention.texte}}
    <br/>
    <button (click)="closePrevention()">Fermer</button>
  </div>
</div>

<!-- Brute force -->
<div *ngIf="this.showBruteForceButton" class="center">
  <button (click)="goToBruteForce()">Commencer</button>
</div>

<div *ngIf="this.startBruteForce">
  <attaque-brute-force></attaque-brute-force>
  <div *ngIf="this.isAttackSuccess" class="center">
    <button (click)="goToConclusion()">Continuer</button>
  </div>
</div>
