@import '~sass/variables';

.action{
  cursor: pointer;
}

.action:hover{
  color: $couleur1;
  font-weight: 500;
}

.action-disabled{
  color: gray;
}

.puce{
  color: $couleur2;
}

.puce:hover{
  color: $couleur1;
}
