<div class="colonne">
  A l'aide des informations que vous avez récoltées tout au long du scénario, vous allez tenter d'accéder à l'ordinateur de M.Tetenlair. <br/>
  Pour cela, vous devez entrer un mot de passe dans le champ prévu à cet effet puis l'ajouter à votre liste en cliquant sur "Entrée". <br/>
  Lorsque vous aurez ajouté cinq mots de passe, vous pourrez cliquer sur le bouton "Lancer l'attaque" afin de les tester grâce au logiciel.<br/>
  Si votre liste contient le bon mot de passe vous en serez informé, sinon vous pourrez tester une nouvelle liste. <br/>
  Bonne chance ! ☺
</div>

<div class="colonne">
  <div class="fichier">
    <div class="mdp" [ngClass]="{'disabled' : this.attaqueLancee}" *ngFor="let mdp of listeMdp; let i = index">
      <span class="bouton-suppression" (click)="supprimerMdp(i)">Ⓧ</span> &nbsp;
      {{mdp}}
    </div>
  </div>
  <input *ngIf="!this.attaqueLancee" class="input-mdp" type="text"
         (keydown.enter)="onKeydown($event, nouveauMdp)" [value]="nouveauMdp"
         (input)="nouveauMdp = $event.target.value" placeholder="Mot de passe"/>
  <input *ngIf="this.attaqueLancee" disabled class="input-mdp" type="text"
         (keydown.enter)="onKeydown($event, nouveauMdp)" [value]="nouveauMdp"
         (input)="nouveauMdp = $event.target.value" placeholder="Mot de passe"/>
  <div class="center">
    <button *ngIf="!this.attaqueLancee" (click)="attaquer()">Lancer l'attaque</button>
    <button *ngIf="this.attaqueLancee" class="disabled" disabled (click)="attaquer()">Lancer l'attaque</button>
  </div>
</div>

<div class="colonne">
  <br/>
  <console-noob class='cachee' [ngClass]="{'visible' : this.attaqueLancee || this.retryAttaque}" [messageConsoleNoob]="this.messageNoob"></console-noob>
</div>

<div class="colonne">
  <br/>
  <interaction-console class='cachee' [ngClass]="{'visible' : this.attaqueLancee || this.retryAttaque }" ></interaction-console>
</div>

<div class="center" *ngIf="this.attaqueLancee && this.attaqueFailed && !this.endTentatives && !this.attaqueSucces">
  Les mots de passe que vous avez entré n'ont pas fonctionné, il vous reste {{this.nbTentatives}} tentative(s) !
  <button (click)="reessayer()">Réessayer</button>
</div>

<div class="center" *ngIf="this.attaqueLancee && this.attaqueFailed && this.endTentatives && !this.attaqueSucces">
  Alors que vous commencez à désespérer de trouver le bon mot de passe, vous vous souvenez que "password" est un mot
  de passe très souvent utilisé par défaut par les professeurs... Vous finissez donc par réussir à entrer dans l'ordinateur
  de M.Tetenlair, qui n'a pas pensé à le modifier !
</div>
