@import '~sass/variables';

.bouton-suppression{
  color: $couleur3;
  font-weight: bold;
}

.bouton-suppression:hover{
  cursor: pointer;
  width: 300px;
}

.fichier{
  border-radius: 5px;
  height: 146px;
  border: solid 1px $couleur2;
  padding: 2px 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.input-mdp{
  border-radius: 5px;
  width: initial;
  margin-right: 0;
}

.mdp:hover{
  font-weight: bold;
}

.cachee{
  display: none;
}

.visible{
  display: block;
}

.disabled{
  color: gray;
  cursor: default;
}

.disabled:hover{
  cursor: default;
}
