<div class="colonne">
  EXPLICATIONS <br/>
  "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
  voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
  voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
  velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
  enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
  consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
</div>

<div class="colonne">
  <div class="fichier">
    <div class="mdp" *ngFor="let mdp of listeMdp; let i = index">
      <span class="bouton-suppression" (click)="supprimerMdp(i)">Ⓧ</span> &nbsp;
      {{mdp}}
    </div>
  </div>
  <div class="colonne">
    <input class="input-mdp" type="text" (keydown.enter)="onKeydown($event, nouveauMdp)" [value]="nouveauMdp"
           (input)="nouveauMdp = $event.target.value" placeholder="Mot de passe"/>
  </div>
  <div class="colonne">
    <button class="bouton-suite" (click)="ajouterMdp(nouveauMdp)">Ajouter</button>
  </div>
  <button *ngIf='!this.listeEnvoyee'class="bouton-suite" (click)="envoyerListeMdp()">Envoyer</button>
  <button *ngIf='this.listeEnvoyee' disabled class="bouton-suite" >Envoyer</button>
  <button *ngIf='this.listeEnvoyee' (click)="attaquer()">!! Attaquer !!</button>
  <interaction-console class='cachee' [ngClass]="{'visible' : this.attaqueLancee }" ></interaction-console>
</div>
